@media (max-width: 69.9375em)
{
    .btn.btn-main
{
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 60%;
    padding: 13px 19px 11px 19px;
    font-size: 30px;
    width: 16%;
}

}