footer.footer
    .footer__logo
        img( src='/img/logo-green.png' alt='Natour logo' )
    .footer-wrap
        ul.footer-wrap__nav
            li: a(href='#') About us
            li: a(href='#') Download apps
            li: a(href='#') Become a guide
            li: a(href='#') Careers 
            li: a(href='#') Contact
        p.footer-wrap__copyright &copy; by Truong Vu. 