extend base 

block content 
    main.main.main--forgotPassword
        .forgotPassword-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form.form.form--forgotPassword
                .form__group.form__group--email
                    label.form__label(for='email') Email address 
                    input#emailForgot.form__input(type='email',placeholder='you@example.com',required,name='email')
                .form__group.form__group--verifyMail
                    button.btn.btn--green Verify
block footer 
    footer.footer.footer--forgotPassword
        .footer__logo
            img( src='/img/logo-green.png' alt='Natour logo' )
        .footer-wrap
            ul.footer-wrap__nav
                li: a(href='#') About us
                li: a(href='#') Download apps
                li: a(href='#') Become a guide
                li: a(href='#') Careers 
                li: a(href='#') Contact
            p.footer-wrap__copyright &copy; by Truong Vu. 
