.header
{
    height: var(--header-height);
    background-image: linear-gradient(0 ,#fe6433,#f53e2d);
}

.header__navbar
{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}


.header__navbar-list
{
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
    z-index: 1;
}
.header__navbar-item
{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user
{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu
{
    display: block;
}
.header__navbar-user-img
{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0,0.1);
}
.header__navbar-user-name
{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu
{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    
    
  
}
.header__navbar-user-menu::before
{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
    


}
.header__navbar-user-menu::after
{
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;


}
.header__navbar-user-item
{

}
.header__navbar-user-item--seperate
{
    border-top: 1px solid rgba(0, 0, 0,0.05);

}
.header__navbar-user-item a
{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 11px 16px;
    display: block;
    

}
.header__navbar-user-item a:first-child
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child
{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover
{
    background-color: #fafafa;

}

.header__navbar-item--has-qr:hover .header__qr
{
    display: block;


}
.header__navbar-item--has-notify:hover .header__notify
{
    display: block;

}

.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon
{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
{
   color: rgba(255, 255, 255, 0.7);
   cursor: pointer;
   
}
.header__navbar-item--strong
{
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    

}
.header__navbar-icon-link
{
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2) /* do thẻ a này là con thứ 2 , con thứ nhất là span */
{
    margin-left: 3px;

}
.header-navbar-icon
{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer
{
    cursor: text;
    color: var(--white-color);
}
/* header QR code */
.header__qr
{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    display: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);

}

.header__qr::before
{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    

}

.header__qr-img
{
    width: 100%;

}
.header__qr-img-apps
{
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1)
{
    margin-left: 11px;
}
.header__qr-link:nth-child(2)
{
    margin-right: 11px;
}

.header__qr-download-img
{
    height: 15px;

}
/*header notification */
.header__notify
{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top; /* di chuyển tâm animation xuất hiện từ góc trên phải, 90% là bắt đầu từ gần cuối trục x, tức là di chuyển từ 100% bên phải của phần tử cha - 32px */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /* trình duyệt sẽ tối ưu cho opacity và transform */
    display: none;
    z-index: 1;
    
    

}
.header__notify::before
{
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}
.header__notify::after
{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    
}

@keyframes headerNotifyGrowth
{
    from
    {
        opacity: 0;
        transform: scale(0);
    }
    to 
    {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header
{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3
{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem; /* font size dùng rem */
    line-height: 40px; /* bằng chiều cao thằng chứa nó */
    user-select: none;
}
.header__notify-list
{
    padding-left: 0;

}
.header__notify-item
{
    
    

}
.header__notify-item:hover
{
    background-color: #f7f7f7;
}
.header__notify-item--viewed    
{
    background-color: rgba(238, 75, 43, 0.08);

}
.header__notify-link
{
    display: flex;
    padding: 12px;
    text-decoration: none;
    


}
.header__notify-img
{
    width: 48px;
    object-fit: contain; /* cho ảnh căn chỉnh hợp với khung mà không bị mất px */
}
.header__notify-info
{
    margin-left: 12px;

}
.header__notify-name
{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;

}
.header__notify-description
{
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #756f6e;
    margin-top: 4px;

}
.header__notify-footer
{
    display: flex;
    

}
.header__notify-footer-btn
{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    
}


/* Auth Modal */
.auth-form
{
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;

}
.auth-form__container
{
    padding: 0 32px;
}
.auth-form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;

}
.auth-form__heading
{
    font-size: 2.2rem;
    font-weight: 450;
    color: var(--text-color);

}
.auth-form__switch-btn
{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 430;
    cursor: pointer;

}
.auth-form__form
{
    margin-top: 16px;

}
.auth-form__input
{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding:0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color); /* màu mặc định cho input */
    outline: none; /* bỏ viền xanh */
}
.auth-form__input:focus
{
    border-color: #888; /* tăng đậm màu cho border khi click vào */
}
.auth-form__group
{

}
.auth-form__aside
{
    margin-top: 18px;

}
.auth-form__policy-text
{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;

}
.auth-form__text-link
{
    color: var(--primary-color);
    text-decoration: none;

}
.auth-form__controls
{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;

}
.auth-form__controls-back
{
    margin-right: 8px;
    background-color: var(--white-color);
}
.auth-form__socials
{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    

}
.auth-form__socials--facebook
{
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook,
.auth-form__socials--google
{
    color: var(--white-color);

    
}
.auth-form__socials-icon
{
    font-size: 1.8rem;
}
.btn--with-icon
{

}
.auth-form__socials-title
{
    margin: 0 32px;
}
.auth-form__socials--google
{
    color: #666;
    background-color: var(--white-color);


}
.auth-form__help
{
    display: flex;
    justify-content: flex-end;
    
}
.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    
}
.auth-form__seperate
{
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px 0;
}
.auth-form__help-forgot
{
    color: var(--primary-color);
}
.header__with-search
{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    
}
.header__logo
{
    width: 200px;
}
.header__logo-link
{
    text-decoration: none;
    color:transparent; /* tránh ảnh hưởng tới màu của logo trên các trình duyệt khác */
}
.header__logo-img
{
    width: 150px;
    
}
.header__search
{
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    flex: 1;
    display: flex;
    align-items: center;
}
.header__cart
{
    width: 150px;
    text-align: center;
    
}
.header__cart-wrap
{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    
}


.header__cart-icon
{
    margin-top: 6px;
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__cart-wrap:hover .header__cart-list
{
    display: block;
    
}

.header__cart-list
{
    position: absolute;
    top: calc(100% + 6px);
    right: -2px;
    width: 400px;
    background-color: #FDFDFD;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0  rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;

}
.header__cart-heading
{
    text-align: left;
    margin: 10px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    
}
.header__cart-list-item
{
    padding-left: 0;
    list-style: none;
    height: 45vh;
    overflow-y: scroll;
  
}

.header__cart-item
{
    display: flex;
    align-items: center;


}
.header__cart-item:hover
{
    background-color: #f1f1f1;

}
.header__cart-img
{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info
{
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
   

}
.header__cart-item-name
{
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;

}
.header__cart-item-price
{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);


}
.header__cart-item-multiply
{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;

}
.header__cart-item-qnt
{
    color: #757575;
    font-size: 1.2rem;

}
.header__cart-item-body
{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    margin-top: 9px;

}
.header__cart-item-description
{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}
.header__cart-item-remove
{
    font-size: 1.4rem;
    color: var(--text-color);

}
.header__cart-item-remove:hover
{
    color: var(--primary-color);
    cursor: pointer ;

}
.header__cart-viewc-cart
{
    float: right;
    margin: 0 12px 12px;
}
.header__cart-viewc-cart:hover
{
    background-color: #F05D41;
    
}

.header__cart-list::after
{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0px;
    top: -29px;
    border-width:20px 26px;
    border-style: solid;
    border-color: transparent transparent #FDFDFD transparent;
    
}
.header__cart-list--no-cart
{
    padding: 24px 0;
 
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img
{
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-msg
{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-notice
{
    position: absolute;
    padding: 1px 7px ;
    top: -4px;
    right: -4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);

}

.header__search-input-wrap
{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-selection
{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}
.header__search-selection:hover .header__search-option
{
    display: block;
    

}
.header__search-selection-label
{
    font-size: 1.4rem;
    color: var(--text-color);
    

}
.header__search-selection-icon
{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;

}
.header__search-btn
{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;


}

.header__search-btn:hover
{
    background-color: #fb6445;
    cursor: pointer;

}
.header__search-btn-icon
{
    font-size: 1.4rem;
    color: var(--white-color);

}
.header__search-option
{
    position: absolute;
    right: 0;
    top: calc( 100% - 2px );
    width: 136px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0 ;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    margin-top: 15px;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    
    

}
.header__search-option::after
{
    position: absolute;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    top: -15px;
    left: 0;

}
.header__search-option-item
{
    background-color: var(--white-color);
    padding: 8px 13px;

    

}
.header__search-option-item:first-child
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.header__search-option-item:last-child
{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-option-item:hover
{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
    

}
.header__search-option-item i
{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;

    
}
.header__search-option-item--active i
{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history /* khi chấm vào thanh search input , thì tất cả các thẻ trong search-history sẽ hiện lên, vì header__search-input không phải cha của history nên cần dùng ~ */
{
    display: block;

}
/* Search History */
.header__search-history
{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px); /* nguyên cụm search trừ đi 16px sẽ ra chiều ngang của bảng tìm kiếm */
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189); /* 1 px cho dưới , 5 px cho blur */
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading
{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}
.header__search-history-list
{
    padding: 0;
    list-style: none;
    margin:6px 0 0; /* top 8px */


}
.header__search-history-item
{
    height: 38px;
    padding: 0 12px;

}
.header__search-history-item:hover
{
    background-color: #fafafa;
}
.header__search-history-item a
{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;

}
.app__container
{
    background-color: #F5F5F5;
}
.app__content
{
    padding-top: 36px;
}
.category
{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading
{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;

}

.category-list
{
    padding: 0 0 8px 0;
    list-style: none;

}
.category-item
{
    position: relative;

}
.category-item:first-child::before
{
    display: none;
}
.category-item::before
{
    content: "";
    position: absolute;
    border-top: 1px solid #E1E1E1;
    top: 0;
    left: 20px;
    right: 20px;
    

}
.category-item--active .category-item__link /* khi dùng class active thì item__link sẽ có thuộc tính như sau */
{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before
{
    position: absolute;
    top: 50%;
    left: 7px;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px )) ; /* di chuyển theo trục y của chính lớp giả */
}
.category-item__link
{
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 20px;
    display: block;
    transition: right linear 0.1s; /* định nghĩa khi hover vào chữ sẽ chạy sang phải */
    right: 0; /* ( from ) */
}
.category-item__link:hover
{
    right: -4px; /* khi hover chữ sẽ sang phải -4px ( to ) */
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter
{

    background-color: rgba(0, 0, 0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px  ;
}
.home-filter__label
{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter-btn
{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page
{
    display: flex;
    align-items: center;
    margin-left: auto;

}
.home-filter__page-num
{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current
{
    color: var(--primary-color);
}
.home-filter__page-control
{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;

}
.home-filter__page-btn
{
    flex: 1; /* chia đôi btn */
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn--disabled .home-filter__page-icon
{
    color: #ccc;
}
.home-filter__page-btn--disabled 
{
    background-color: #F9F9F9;
    cursor: default;
}
.home-filter__page-icon
{
    margin: auto; /* căn icon nằm giữa */
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn:first-child
{
    border-right: 1px solid #eee;
}
/* Product Item */
.home-product
{
    margin-bottom: 10px;
}
.home-product-item
{
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s; /* khi có chuyển động (transform) sẽ chạy đều 0.1s */
    will-change: transform;


}
.home-product-item:hover
{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05); /* đổ bóng theo chiều dọc 1 px, mức độ mờ 20px, khoảng cách đổ bóng bằng 0 */

}
.home-product-item__img
{
    padding-top: 100%; /* chiều ngang của thẻ chứa ( home-product-item ) */
    background-repeat: no-repeat;
    background-size: contain; /* giúp ảnh có kích thước ngang bằng thẻ cha, đòng thời tránh trường hợp ảnh quá lớn */
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name
{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    

}
.home-product-item__price
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

}
.home-product-item__price-old
{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;

}
.home-product-item__price-current
{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin: 6px 10px 0;

}
.home-product-item__action
{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

}
i.home-product-item__like-icon-fill
{
    color: #f63d30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill
{
    display: inline-block;

}
.home-product-item__like--liked .home-product-item__like-icon-empty
{
    display: none;
}
.home-product-item__like
{
    font-size: 1.3rem;

}
.home-product-item__rating 
{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right; /* thu nhỏ từ bên phải */
    color: #D5D5D5;
    margin: -1px 0 0 auto;

}
.home-product-item__star--gold
{
    color: var(--star-gold-color) ;
}
.home-product-item__sold
{
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}
.home-product-item__origin
{
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    
    

}
.home-product-item__brand
{

}
.home-product-item__origin-name
{
    margin-left: auto;

}
.home-product-item__favourite
{
    position: absolute;
    top: 10px;
    left: -4;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite span
{
    color: var(--white-color);
}
.home-product-item__favourite i
{
    font-size: 0.9;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
.home-product-item__sale-off
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.94);
    border-top-right-radius: 2px;

}
.home-product-item__sale-off::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    color: rgba(255,216,64,0.94);
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}
.home-product-item__sale-off-percent
{
    position: relative;
    text-align: center;
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    top: 4px;
    right: -10px;

}
.home-product-item__sale-off-label
{
   
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
    right: -4px;
    
    

}
/* pagination */
.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
.pagination-item
{
    margin: 0 12px;

}
.pagination-item--active .pagination-item__link
{
    background-color: var(--primary-color);
    color: var(--white-color);

}
.pagination-item--active .pagination-item__link:hover
{
    background-color: #ed5c3f;
}
.pagination-item__link
{
    --height:30px;
    display: block;
    font-weight: 300;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;

}
.pagination-item__icon
{
    

}
.home-product__pagination
{
    margin: 48px 0 32px 0;
}
.footer
{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}
.footer__heading
{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list
{
    padding-left: 0;
    list-style: none;
}
.footer__item-link
{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;

}
.footer__item-link:hover
{
    color: var(--primary-color);
}
.footer__item-icon
{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download
{
    display: flex;
}
.footer__download-qr
{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps
{
    flex:1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img
{
    height: 16px;
}
.footer__download-apps-link
{
    text-decoration: none;
    color: transparent;
}
.footer__bottom
{
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}
.footer__text
{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #737373;
}